

.div-cart{
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;    
}

.cart{
    width: 35px;
    cursor: pointer;    
}

.contador{
    font-size: 700;
    color: whitesmoke;
}

